*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
*{
	margin: 0;
	padding:0;
	-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;  
	
}
body {
	font:100%/1.5em "Calibri", sans-serif;
	
	
}
.fluid_bg{
	max-width: 100%;
    height: 2065px;
}

.container .cols{
	float:left;
	margin: 0 0 1em;
	
	text-align: left;
}

.container .cols.col-1  {width:8.333333333333333%; }
.container .cols.col-2  {width:16.66666666666667%; }
.container .cols.col-3  {width:25%; }
.container .cols.col-4  {width:33.33333333333333%; }
.container .cols.col-5  {width:41.66666666666667%; }
.container .cols.col-6  {width:50%; }
.container .cols.col-7  {width:58.33333333333333%; }
.container .cols.col-8  {width:66.66666666666667%; }
.container .cols.col-9  {width:75%; }
.container .cols.col-10 {width:83.33333333333333%; }
.container .cols.col-11 {width:91.66666666666667%; }
.container .cols.col-12 {width:100%; }

.container:before,
.container:after,
.row:before,
.row:after{
	content:" ";
	display: table;
}

.row:after{
	clear: both;
}

@media screen and (min-width: 90em) {
    .fluid_bg{
    background: url(../img/fon.jpg) no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    }
    .us{
    color:#457856;
    margin-left: 2%;
    }
}
@media screen and (max-width: 90em) {
    .fluid_bg{
    background: url(../img/fonmax1.png) no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    }
    #logo{
    max-width: 210px;	
	}
}
 @media screen and (max-width: 75em) {
    .fluid_bg{
    background: url(../img/fonmed1.png) no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    }

}
@media screen and (max-width: 45em) {
    .fluid_bg{
    background: url(../img/fonmin1.png) no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    }
}

@media screen and (max-width: 25em) {
    .fluid_bg{
    background: url(../img/fonminmin1.png) no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    }
}

article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
    display: block;
}
img {
    max-width: 100%;
    height: auto;
}
.top_line{
	font-size: 1.5em;
	padding-top: 2%;

}
#logo{
position: absolute;
margin-top: -5%;
margin-left: 1%;
max-width: 310px;		
}